<h1>Edit reservation!</h1>
<div ng-if="hasError" class="err">Whoop! There are some errors here.
  <ul>
    <li ng-repeat="error in err"> {{ error }}</li>
  </ul>
</div>
<form>
  <div class="field">
    <label>Name</label>
  <input type="text" ng-model="name"></input>
  </div>
  <div class="field">
    <label>Phone Number</label>
    <input type="text" ng-model="phone_number" ui-mask="(999) 999-9999"></input>
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" ng-model="email"></input>
  </div>
  <div class="field">
    <label>Party Size</label>
    <input list="size" ng-model="party_size">
      <datalist id="size">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5">
        <option value="6">
        <option value="7">
        <option value="8">
      </datalist>
    </input>
  </div>
  <div class="field">
    <label>Date</label>
    <input type="date" ng-model="date"></input>
  </div>
  <div class="field">
    <label>Time</label>
    <input type="text" ui-mask="99:99" ng-model="time"></input>
  </div>
  <button ng-click="submit()">Submit</button>
</form>