<h1>All reservations</h1>
<a href="#/reservations/new/">Enter new reservation</a>
<div ng-if="hasError">
  {{ err }}
</div>
</div>
<table>
  <colgroup>
    <col span="1" class="col col-id">
    <col span="1" class="col col-name">
    <col span="1" class="col col-phone">
    <col span="1" class="col col-email">
    <col span="1" class="col col-date">
    <col span="1" class="col col-time">
    <col span="1" class="col col-party">
    <col span="1" class="col col-editdel">
    <col span="1" class="col col-editdel">
  </colgroup>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Date</th>
      <th>Time</th>
      <th>Party Size</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="reservation in reservations">
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.name }}</td>
      <td>{{ reservation.phone_number }}</td>
      <td>{{ reservation.email }}</td>
      <td>{{ reservation.date | date: 'shortDate' }}</td>
      <td>{{ reservation.date | date: 'h:mma' }}</td>
      <td>{{ reservation.party_size }}</td>
      <td><a href="#/reservations/edit/{{ reservation.id }}">Edit</a></td>
      <td><a href="#" ng-click="delete($event, reservation.id)">Delete</a></td>
    </tr>
  </tbody>
</table>